<!-- 编辑视图-->
<div ng-controller="DashboardCtrl">
  <div class="row">
    <div class="text-left" style="margin:4rem 0 0 2rem; font-size:1.6rem">
      <div style="background-color:#eeeeee;border-radius:5px;padding:3rem 2rem;margin:2rem 0">
	更新内容: 商品可以设置指定时间了销售了
      </div>

      <div style="background-color:#eeeeee;border-radius:5px;padding:3rem 2rem;margin:2rem 0">
	<a href="static/doc/manual.html" target="_blank">查看<strong style="color:red">操作手册</strong></a>
      </div>

      <div style="background-color:#eeeeee;border-radius:5px;padding:3rem 2rem;margin:2rem 0;line-height:2rem">
	如需小票与出品打印，
	<ol>
	  <li>
	    请<a href="static/doc/kocrm.msi"><strong style="color:red">下载客户端</a></strong>并安装
	  </li>
	  <li>
	    从<a href="http://127.0.0.1:5678" target="_blank"><strong style="color:red">客户端</strong></a>进入并依实际情况配置打印机
	  </li>
	  <li>
	    从<a href="http://127.0.0.1:5678" target="_blank"><strong style="color:red">客户端</strong></a>进入并使用在线收银
	  </li>
	  <li>
	    如需<strong style="color:red">自动打印</strong>客户自助提交的订单，请设置餐厅ID与下载密钥
	  </li>
	</ol>
      </div>

    </div>
    
  </div>
</div>




